/* COMMON*/
*{
  box-sizing: border-box;
}

body{
  /* 글자 관련 기본(공통)스타일*/
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #333;

  /* 고정된 헤더 테스트용 */
  /* height: 3000px; */
}

/*영문에만 적용할 폰트 */
.font-en{
  font-family: "Open Sans", sans-serif;
}
a{
  /* 밑줄 제거*/
  text-decoration: none;
  color: inherit;
}
.inner{
  max-width: 1200px;
  /* 가로 너비를 가진 블록 요소의 가운데 정렬*/
  margin: 0 auto;
}
.animate-flash{
  animation-name: flash;
  animation-duration: 0.5s; /*애니메이션 시간*/
  /* animation-timing-function: linear; */
  animation-iteration-count: 5;
}

/* HEADER */
header{
  background-color: #fff;
  border-bottom: 1px solid #c8c8c8;
  box-shadow: 0 2px 8px rgba(204, 204, 204,0.8);

  /* 고정된 헤더 만들기 */
  position: fixed;    /*뷰포트기준 fixed*/
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;        /*보여지는 우선 순위*/
}

header > .inner{
  height: 60px;
  display: flex;
  justify-content:space-between;   /*주축 정렬*/
  align-items: center;
}
header .logo img{
  width: 40px;
}
header nav ul{
  display: flex;
}
header nav ul li{
  padding: 10px 20px;
  font-weight: bold;
}
header nav ul li a{
  position: relative;
}
header nav ul li a:hover{
  color: #9b30ff;
}
header nav ul li a::after{
  /* ::after 가상 요소의 장점은 HTML 구조 추가와 class 속성 값의 추가 없이 구현 및 제어 가능 */
  content:""; /*가상 요소 필수 속성*/ /*a 태그 내부 뒤의 붙는다.*/
  display: block;  /*inline요소기 때문에 block을 넣어야 나온다*/
  width: 0;
  height: 2px;
  background-color: #9b30ff;
  transition: width 0.5s ease;
  position: absolute; /*부모 position 찾을때까지 상위로 이동 보통 부모에 relative를 줌*/
  left: 0;
  bottom: -8px;
}
header nav ul li a:hover::after{
  width: 100%;
}

/* VISUAL */
.visual{
  /* 헤더가 fixed 되어 일반 배치 흐름에서 벗어남(주변 요소들과 상호작용하지 않음)
     헤더 다음에 오는 요소는 헤더의 높이만큼 외부 여백 추가 */
  margin-top: 60px;
  background-color: #000;
  color: #fff;
  
}
.visual > .inner{
  height: calc(100vh - 60px); /*첫 번째 섹션이 뷰포트에 가득 차도록*/
  font-size: 70px;
  display: flex;
  align-items: center; 
}
.visual > .inner .purple{
  color: #9b30ff;
}
   /*span태그는 글자 묶을 때 사용*/
   /*애니메이션 정의는 맨 마지막에*/
   @keyframes flash{
    0%,50%,100%{
      opacity: 0.7;
    }

    25%,75%{
      opacity: 0;
    }
   }
