/* COMMON*/
*{
  box-sizing: border-box;
}
html,body{
  overflow-x: hidden;  /*x축 넘치는 요소 스크롤 방지*/ /*모바일에서는 body보다 html을 기준으로 스크롤을 판단*/
}
html{
  /* 스크롤 이동을 부드럽게 */
  scroll-behavior: smooth;
}

body{
  /* 글자 관련 기본(공통)스타일*/
  font-family: "Open Sans","Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #333;

  /* 고정된 헤더 테스트용 */
  /* height: 3000px; */
}

/*영문에만 적용할 폰트 */
.font-en{
  font-family: "Open Sans", sans-serif;
}
a{
  /* 밑줄 제거*/
  text-decoration: none;
  color: inherit;
}
.inner{
  max-width: 1200px;
  /* 가로 너비를 가진 블록 요소의 가운데 정렬*/
  margin: 0 auto;
}

.title{
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 50px;
}
.title::after{
  content:""; 
  display: block;  
  width: 80px;
  height: 2px;
  background-color: #333;
  margin: 24px auto 0;
}
img{
  /* 이미지가 인라인 요소라서 발생하는 문자 기준선(Baseline) 아래의 공간을 제거하기 위해 */
  display: block;
}
.btn{
  display: block;
  width: 120px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}
.btn:hover{
  background-color: #333;
  color: #fff;
}
.btn.btn--purple {
  color: #9b30ff;
  border-color: #9b30ff;
}
.btn.btn--purple:hover {
  color: #fff;
  background-color: #9b30ff;
}
.btn.btn--brown {
  color: #592b18;
  border-color: #592b18;
}
.btn.btn--brown:hover {
  color: #fff;
  background-color: #592b18;
}
.animate-flash{
  animation-name: flash;
  animation-duration: 0.5s; /*애니메이션 시간*/
  /* animation-timing-function: linear; */
  animation-iteration-count: 5;
}

/* HEADER */
header{
  background-color: #fff;
  border-bottom: 1px solid #c8c8c8;
  box-shadow: 0 2px 8px rgba(204, 204, 204,0.8);

  /* 고정된 헤더 만들기 */
  position: fixed;    /*뷰포트기준 fixed*/
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;        /*보여지는 우선 순위*/
}
header > .inner{
  height: 60px;
  display: flex;
  justify-content:space-between;   /*주축 정렬*/
  align-items: center;
  transition: 0.3 ease;
}
.hide {
  transform: translateY(-100%);
} 
header .logo img{
  width: 40px;
}
header nav ul{
  display: flex;
}
header nav ul li{
  padding: 10px 20px;
  font-weight: bold;
}
header nav ul li a{
  position: relative;
}
header nav ul li a:hover{
  color: #9b30ff;
}
header nav ul li a::after{
  /* ::after 가상 요소의 장점은 HTML 구조 추가와 class 속성 값의 추가 없이 구현 및 제어 가능 */
  content:""; /*가상 요소 필수 속성*/ /*a 태그 내부 뒤의 붙는다.*/
  display: block;  /*inline요소기 때문에 block을 넣어야 나온다*/
  width: 0;
  height: 2px;
  background-color: #9b30ff;
  transition: width 0.5s ease;
  position: absolute; /*부모 position 찾을때까지 상위로 이동 보통 부모에 relative를 줌*/
  left: 0;
  bottom: -8px;
}
header nav ul li a:hover::after{
  width: 100%;
}

/* VISUAL */
.visual{
  /* 헤더가 fixed 되어 일반 배치 흐름에서 벗어남(주변 요소들과 상호작용하지 않음)
     헤더 다음에 오는 요소는 헤더의 높이만큼 외부 여백 추가 */
  margin-top: 60px;
  background-color: #000;
  color: #fff;
  
}
.visual > .inner{
  height: calc(100vh - 60px); /*첫 번째 섹션이 뷰포트에 가득 차도록*/
  font-size: 70px;
  display: flex;
  align-items: center; 
}
.visual > .inner .purple{
  color: #9b30ff;
}
/* ABOUT */
.about {
  padding: 150px 0;
}
.about >.inner{
  position: relative;
}
.about .about__wrapper{
  display: flex;
  justify-content:space-between;
}
.about .about__wrapper .about__img{
  width: 40%;
}
.about .about__wrapper .about__img img{
  width: 100%;
  border-radius: 50%;
  box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.1);
}
.about .about__wrapper .about__text{
  width: 40%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.about .about__wrapper .about__text .slogan {
  font-size: 35px;
  font-weight: bold;
}
.about .about__wrapper .about__text h3 {
  font-size: 20px;
  font-weight: 600;
}
.about .about__wrapper .about__text h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}
.about .about__wrapper .about__text li {
  line-height: 1.8;
}

.about .about__btn{
  position: absolute;
  bottom: -30px;
  right: 30px;
}
.about .about__btn img{
  display: inline;
  vertical-align: middle;
  width: 28px;
  margin-right: 10px;
} 


/* SKILL */
.skill{
  padding: 150px 0;
  background-color: #000;
  color: #fff;
}
.skill .title::after{
  background-color: #fff;
}
.skill .skill__list{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
  text-align: center;
}
.skill .skill__list > li{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 애니메이션 효과 추가 */
  /*position: relative;
  top: 100px;
  transition: 0.5s;
  opacity: 0; */
  transform: translateY(100px);
  transition: 1s;
  opacity: 0;
}
/* hover로 먼저 테스트 후 스크롤 이벤트 넣기 */
/*.skill .skill__list > li:hover{
  top: 0px;
  opacity: 1;
  transform: translateY(0px);
  opacity: 1;

}*/
.skill.show .skill__list > li{ 
  transform: translateY(0px);
  opacity: 1;
}
.skill.show .skill__list > li:nth-child(1){transition-delay: 0.2s;}
.skill.show .skill__list > li:nth-child(2){transition-delay: 0.4s;}
.skill.show .skill__list > li:nth-child(4){transition-delay: 0.8s;}
.skill.show .skill__list > li:nth-child(3){transition-delay: 0.6s;}
.skill.show .skill__list > li:nth-child(5){transition-delay: 1s;}




.skill .skill__list li h3{
  width: 50px;
  height: 40px;
  background-color: #9b30ff;
  border-radius: 50%;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -2px;
  transform:rotate(-20deg);
  transition: 0.5s;

}
.skill .skill__list li:hover h3{
  transform:rotate(0deg)
}
.skill .skill__list li h4{
  font-size: 18px;
  font-weight: bold;
  margin: 30px 0 20px;
}

/* PROJECT */
.project{
  padding: 150px 0;
}
.project .port{
  display: flex;
  margin: 20px 0;
}
.project .port .port__img,    /*다중 선택*/
.project .port .port__text{
  width: 50%;
  height: 400px;
}
.project .port .port__img .swiper{
  width: 100%;
  height: 100%;
}
.project .port .port__img .swiper img{
  width: 100%;
  height: 100%;
  object-fit: contain;    /*contain은 영역에 맞추느라 여백생김,cover는 더 큰 영역에 닿으면 끝 이미지 잘림현상*/
}
.project .port .port__text{
  padding: 30px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.project .port .port__text h3{
  font-size: 20px;
  font-weight: 800;
}
.project .port .port__text li{
  line-height: 1.8;
}
.project .port .port__text li span{
  font-weight: bold;
}
.project .port .btn-group{
  display: flex;
  column-gap: 40px;
}


/* MODAL */
#imageModal{
  /* 화면(뷰포트)전체 영역 덮기 */
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 99;

  /* display: flex; 숨겨야해서 none이 마지막에 적용되기 때문에 적용x*/
  justify-content: center;
  align-items: center;
  display: none;
}
#imageModal .modal-content{
  background-color: #fff;
  border-radius: 8px;
}
#imageModal .modal-header{
  padding: 16px;
  background-color: #0f0f0f;
  color: #fff;
  border-radius: 8px 8px 0 0;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#imageModal .modal-header .btn-close{
  font-size: 30px;
  cursor: pointer;
}
#imageModal .modal-header .btn-close:hover{
  color: #aaa;
}
#imageModal .modal-body{
  padding: 16px;
}
/* SCROLL TO TOP */
#toTop{
  width: 42px;
  height: 42px;
  background-color: #fff8e8;
  border: 2px solid #333;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 9;
  opacity: 0;
  transform: translateX(100px);
  transition: 0.5s;
}

#toTop a span{
  display: block;
}

/* CONTACT */
.contact{
  padding: 200px 0;
}
.contact .contact__info li{
  line-height: 2;
  text-align: center;
  transition: 1s; 
  opacity: 0;
}
/* 애니메이션 효과 추가 */
.contact .contact__info li:nth-child(1),
.contact .contact__info li:nth-child(3){
  transform:translateX(150px);
}
.contact .contact__info li:nth-child(2){
  transform:translateX(-150px);
}
.contact.show .contact__info li{
  transform:translateX(0);
  opacity: 1;
}
.contact .contact__sns{
  margin-top: 20px;
}
.contact .contact__sns ul{
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
.contact .contact__sns ul li{
  transform: translateY(100px);
  opacity: 0;
  transition: 1s;
}
.contact.show .contact__sns ul li{
  transform: translateY(0);
  opacity: 1;
}
.contact.show .contact__sns ul li:nth-child(1){transition-delay: 0.2s;}
.contact.show .contact__sns ul li:nth-child(2){transition-delay: 0.4s;}
.contact .contact__sns ul li img{
  width: 30px;
}

/* FOOTER */
footer{
  background-color: #000;
  color: #fff;
}
footer .copyright{
  text-align: center;
  font-weight: 700;
  line-height: 200px;
}

   /*span태그는 글자 묶을 때 사용*/
   /*애니메이션 정의는 맨 마지막에*/
   @keyframes flash{
    0%,50%,100%{
      opacity: 0.7;
    }

    25%,75%{
      opacity: 0;
    }
   }
